@import "tailwindcss";

:root {
  --color:#d6e4ff;
  --color-dark: #1e88e5;
  --color-light: #d6e4ff;
  --label-color: #d6e4ff;
  --border-color: #d6e4ff;
}

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

.mainContainer {
  min-height: calc(100vh - 7.5rem);
  height: 100% !important;
}
