@import "tailwindcss";

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

.mainContainer {
/*   min-height: calc(100vh - 11.1rem);
 */ 
 min-height: calc(100vh - 7.5rem);
 height:  100% !important;
}
